# Dictionary in python.
- are used to store data values in keys : value pairs
- They are unordered , mutable(changeable) and dont allow duplicate keys.

In [3]:
info = {
    "name" : "apnacollege",
    "Subjects":["python", "java"] ,
    "topic"  :("dict","set"),
    "age" : 35,
    "is_adult" : True,
    12.99 : 94.4
 } 
print(info)

{'name': 'apnacollege', 'Subjects': ['python', 'java'], 'topic': ('dict', 'set'), 'age': 35, 'is_adult': True, 12.99: 94.4}

In [4]:
# Dictionary ["key"] = "Value" # to assign or add new.

info = {
    "name" : "apnacollege",
    "Subjects":["python", "java"] ,
    "topic"  :("dict","set"),
    "age" : 35,
   
 } 
info["name"]= "shreyas"
info["surname"]= "bhavar"
print(info)

#also we can make null_dictionary={}

null_dict = {}
null_dict["name"] = "shreyas"
print(null_dict)

{'name': 'shreyas', 'Subjects': ['python', 'java'], 'topic': ('dict', 'set'), 'age': 35, 'surname': 'bhavar'}
{'name': 'shreyas'}

# Nested Dictionary
- means :- in if condition there is one more if condition.

In [5]:
#nested dictionary.

student ={
    "name" :"shreyas bhavar",
    "subjects": {
        "physics": 97,
        "chemistry":78,
        "math":95,

    }
    }
print(student)
print(student["subjects"]["chemistry"])#if we want we can print specific print.

{'name': 'shreyas bhavar', 'subjects': {'physics': 97, 'chemistry': 78, 'math': 95}}
78

# Dictionary method.

In [6]:
# mydict.keys()#return all keys.

student = {
    "name" :"shreyas bhavar",
    "subjects": {
        "physics": 97,
        "chemistry":78,
        "math":95,

    }
    }
print(student.keys())
print(list(student.keys()))

dict_keys(['name', 'subjects'])
['name', 'subjects']

In [7]:
#mydict.values() #return all values.

student = {
    "name" :"shreyas bhavar",
    "subjects": {
        "physics": 97,
        "chemistry":78,
        "math":95,

    }
    }
print(student.values())
print(list(student.values()))

dict_values(['shreyas bhavar', {'physics': 97, 'chemistry': 78, 'math': 95}])
['shreyas bhavar', {'physics': 97, 'chemistry': 78, 'math': 95}]

In [8]:
#mydict.items()

student ={
    "name" :"shreyas bhavar",
    "subjects": {
        "physics": 97,
        "chemistry":78,
        "math":95,

    }
    }
print(student.items())
print(list(student.items()))

dict_items([('name', 'shreyas bhavar'), ('subjects', {'physics': 97, 'chemistry': 78, 'math': 95})])
[('name', 'shreyas bhavar'), ('subjects', {'physics': 97, 'chemistry': 78, 'math': 95})]

In [9]:
#mydict.get("key")

student ={
    "name" :"shreyas bhavar",
    "subjects": {
        "physics": 97,
        "chemistry":78,
        "math":95,

    }
    }

print("Before")
print(student["name"])#["name2"]#error.
print("After")

Before
shreyas bhavar
After

In [10]:
#mydict.update(newdict)#insert the specified item to dictionary.

student ={
    "name" :"shreyas bhavar",
    "subjects": {
        "physics": 97,
        "chemistry":78,
        "math":95,

    }
    }

new_dict={"name":"shreya","age":16}
student.update(new_dict)
print(student)

{'name': 'shreya', 'subjects': {'physics': 97, 'chemistry': 78, 'math': 95}, 'age': 16}

# Sets in python:-
- set is the collection of unordered items . Each elements in set must be unique and immutable.
-  num = {1,2,3,4}

- set 2 ={1,2,2,2}
- #duplicate value ignore in sets.

In [11]:
#collection.

collection = {1,2,3,4,2,3,4}#duplicate value ignore in sets.
print(collection)
print(type(collection))
print(len(collection))#total no of items.

{1, 2, 3, 4}
<class 'set'>
4

In [12]:
#null_set = set() # empty set syntax.

collection = set()#empty set; syntax
print(type(collection))

<class 'set'>

# Set methods.
- set.add(el) #add an elements.
- set.remove() #remove an elements.
- set.clear() #empty the set
- set.pop() #removes a random value.
- set.union(set2) #combines both set values and return new.
- set.intersection(set2) #combines common value and returns new.

In [13]:
#set.add(el) #add an elements.

collection = set()
collection.add(1)
collection.add(2)
collection.add(2)
print(collection)

{1, 2}

In [14]:
#set.remove()# to remove an elements.

collection = set()
collection.add(1)
collection.add(2)
collection.remove(1)
#collection.remove(7)#does not exist #error.

print(collection)

#we also add "string","tuple", but not "list".

{2}

In [15]:
#set.clear() #empty set.

collection = set()
collection.add(1)
collection.add(2)
collection.add("shreyas")
collection.add((1,2,3))

collection.clear()
print(len(collection))

0

In [16]:
# set.pop() #removes a random value.

collection = {"Hello","apnacourse","world","coding","python"}
print(collection.pop())
print(collection.pop())

python
apnacourse

In [17]:
#set.union(set2)#combines both set values and return new.

set1 = {1,2,3}
set2 = {2,3,4}

print(set1.union(set2))
print(set1)
print(set2)

{1, 2, 3, 4}
{1, 2, 3}
{2, 3, 4}

In [18]:
#set.intersection(set2)#combines common value and return new.

set1 = {1,2,3}
set2 = {2,4,5}

print(set1.intersection(set2))

{2}

# Lets Question.

In [19]:
#store Following word meaning in python dictionary.

dict = {
    "cat" : " a small animal", 
    "table" : ["a piece of furniture", "list of facts and figures"]
    }
print(dict)

{'cat': ' a small animal', 'table': ['a piece of furniture', 'list of facts and figures']}

In [20]:
#you are given a list of subjects for students. Assume one classroom is required for 1 subject. how many classrooms are needed by all students.
#["python", "java", "c++","python","javascript","java","python","java","c++","c"]

subjects = {
    "python", "java", "c++", "python", "javascript", "java", "python", "java", "c++", "c"
}

print(len(subjects))

5

In [ ]:
# write a program of 3 subjects from the user and store them in dictionary. start with an empty dictionary and add one by one use subject name as key and marks as value.
marks = {}

x = int(input("enter phys:"))#98
marks.update({"phy":x})

x = int(input("enter chem:"))#89
marks.update({"chem":x})

x = int(input("enter math:"))#97
marks.update({"math":x})

print(marks)

{'phy': 98, 'chem': 89, 'math': 97}

In [25]:
# figure out a way to store 9 and 9.0 as separate values in the set.

value = {
    ("float",9.0),
    ("int",9)
}
print(value)

{('float', 9.0), ('int', 9)}