# Lists in python
- A built in data types that stores set of values.
- It can store elements of diffrent types (integer,Float,strings,etc)

In [60]:
# we can writes marks in list.

marks1 = 100.0
marks2 = 98.0
marks3 = 87.0
marks4 = 54.0

marks =[100.0, 98.0, 87.0, 54.0]
print(marks)

#types
marks = [100.0, 98.0, 87.0, 54.0]
print(type(marks))#class 'list'

# marks
marks = [87,64,33,95,76]
print(marks[0])#87
print(marks[1])#64

#also
print(len(marks))

# also we can store diffrent types of list like (str,int,float)
student = ["karan", 95.4 , 17 , "Delhi"]
print(student)

# Diffrence between strings and list in python.
# strings:- immutable(unchange),list:- mutable(change).
# In list we can assign the value or declare.

student = ["karan", 95.4 , 17 , "Delhi"]
print(student[0])
student[0]="arjun"
print(student)#output:- ['arjun', 95.4, 17, 'Delhi']

[100.0, 98.0, 87.0, 54.0]
<class 'list'>
87
64
5
['karan', 95.4, 17, 'Delhi']
karan
['arjun', 95.4, 17, 'Delhi']

# List slicing :-
-  similar to string slicing.
- list_name[starting_idx: ending_idx]#ending index is not included.

- marks = [87,64,33,95,76]
  marks[1:4] is [64,33,95]
  marks[ :4] is [87,64,33,95]#is same as marks[0:4]
  marks[1: ] is same as marks len(marks)
  marks[-3:-1] is [33,95]

In [61]:
# list slicing :-

marks = [87,64,33,95,76]
print(marks[1:4])#output:- [64, 33, 95]
print(marks[:4])#output:- [87, 64, 33, 95]
print(marks[1:])#output:- [64, 33,95,76]
print(marks[-3:-1])#output:- [33, 95]

[64, 33, 95]
[87, 64, 33, 95]
[64, 33, 95, 76]
[33, 95]

# List method :-
- list.append()#adds one element at the end.
- list.sort()#sorts in ascending order.
- list.sort(reverse=True)#sort in descending order.
- list.reverse()#reverse the list.
- list.insert()#insert element at index.
- list.remove()#remove fisrt occurence of element.
- list.pop(idx)#remove element at index.

In [62]:
#list.append()#adds one element at the end.

list = [1,2,3,4]
list.append(5)
print(list)#output:- [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [63]:
#list.sort()#sorts in ascending order.

list = [4,6,3,7,8,2]
print(list.sort())
print(list)#output:- [2, 3, 4, 6, 7, 8]

None
[2, 3, 4, 6, 7, 8]

In [64]:
#list.sort(reverse=True )#sort in descending order.
list = [4,6,3,7,8,2]
print(list.sort(reverse=True))
print(list)#output:- [8, 7, 6, 4, 3,2]

None
[8, 7, 6, 4, 3, 2]

In [65]:
#list.reverse()#reverse the list.
list = [1,2,3,4,5]
print(list.reverse())
print(list)#output:- [5, 4, 3, 2, 1]

None
[5, 4, 3, 2, 1]

In [66]:
#list.insert()#insert element at index.
list =[1,2,3,4]
print(list.insert(3,56))#index 3 , element 56
print(list)#output:- [1, 2, 3, 56, 4]

None
[1, 2, 3, 56, 4]

In [67]:
#list.remove()#remove fisrt occurence of element.
list = [1,2,3,4,2,5]
print(list.remove(2))#removes first 2
print(list)#output:- [1, 3, 4, 2, 5]

None
[1, 3, 4, 2, 5]

In [68]:
#list.pop(idx)#remove element at index.
list = [1,2,3,4,5]
print(list.pop(2))#removes element at index 2
print(list)#output:- [1, 2, 4, 5]

3
[1, 2, 4, 5]

# Tuples in python.
- A built in data types that lets us create immutable sequence of values.
- tup =[87,64,33,95,76]#tup[0],tup[1]
- tup[0]= 43 #not allowed in python

- tup=()
  tup2=(1,)
  tup3=(1,2,3)

- note:- for type we have to use , (koma) for tuple type tup=(1,2,3,4) (1,)
        print(tup)
        print(type(tup))

In [69]:
#tuples :-
tup = (1,2,3,4,5)
print(tup)#output:- (1, 2, 3, 4, 5)
print(type(tup))#output:- <class 'tuple'>

(1, 2, 3, 4, 5)
<class 'tuple'>

# Slicing.

In [70]:
# Slicing.
#index:0 1 2 3 4     
tup = (1,2,3,4,5)
print(tup[1:3])#slicing
#output:- (2, 3)

(2, 3)

# Types of Method.
- tup.index()#return index of first occurence.
- tup.count()#counts total occurence.

In [71]:
#tup.index()#return index of first occurence.
#index:0 1 2 3 4 5
tup = (1,2,3,4,2,5)
print(tup.index(2))#output:- 1

1

In [72]:
#tup.count()#counts total occurence.

tup=(1,2,3,4,2,5,2,6,2,7,2)#5 two in occurence
print(tup.count(2))#output:- 5

5

# lets practice the questions.

In [73]:
#write a program to ask the user to enter name of their 3 favourites movies and store them in a list.
movies = []
movies.append(input("Enter the name of your first favourite movie: "))#singham
movies.append(input("Enter the name of your second favourite movie: "))#bahubali
movies.append(input("Enter the name of your third favourite movie: "))#kgf 2
print("Your favourite movies are:", movies)

Your favourite movies are: ['singham', 'bahubali', 'kgf 2']

In [74]:
#write to check if a list contains a palindrome of elements.hint: use copy()method.
#palindrome meaning:- same forwards and backwards side for read like name nayan we can read same by starting and backside also.

list1 = [1,2,3,4,5,4,3,2,1]
copy_list1 = list1.copy()
copy_list1.reverse()
if(copy_list1 == list1):
    print("The list is a palindrome.")
else:
    print("The list is not a palindrome.")

The list is a palindrome.

In [75]:
# write a program to count the number of students with "A" grade in following tuple.
grades = ("A", "B", "A", "C", "A", "D", "B", "A")
print("Grades of A grade students:",grades.count("A"))

Grades of A grade students: 4

In [76]:
# store the above values in a list and sort them from "A" to "D".

list = ["A", "B", "A", "C", "A", "D", "B", "A"]
print(list.sort())
print(list)#output:- ['A', 'A', 'A', 'A', 'B', 'B', 'C', 'D']

None
['A', 'A', 'A', 'A', 'B', 'B', 'C', 'D']